.next{
    background-color: rgb(95, 13, 154);
    justify-self: flex-end;
    color: white;
    /* margin-left: 60%; */
    padding: 10px;
    border-radius: 50%;
}

.prev{
    background-color: rgb(0, 0, 0);
    justify-self: flex-start;
    color: white;
    margin-left: 0%;
    padding: 10px;
    border-radius: 50%;
}
li{
    padding-top: 15px;
}
.check{
    
    border-bottom: 1px solid #e8e5e5;
    
    padding-top: 10px;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: rgb(121, 18, 135)

  }
  
  input[type=radio]:checked ~ .text-primary{
    color: rgb(121, 18, 135);
  } 
  .radiostyle{
    accent-color: rgb(121, 18, 135);
  }
  ul li label{
    cursor: pointer;
  }
  
  ul li:hover label{
      color:rgb(121, 18, 135);
  }
  
  

  

